

<mat-card *ngFor="let course of courses" class="course-card mat-elevation-z10">

    <mat-card-header>

        <mat-card-title>{{course.name}}</mat-card-title>

    </mat-card-header>



    <mat-card-content>
        <p>{{course.description}}</p>
    </mat-card-content>

    <mat-card-actions class="course-actions">

        <button mat-button class="mat-raised-button mat-primary" [routerLink]="['/courses', course.id]">
            VIEW COURSE
        </button>

        <button mat-button class="mat-raised-button mat-accent"
                (click)="editCourse(course)">
            EDIT
        </button>

    </mat-card-actions>

</mat-card>
