
<h2 mat-dialog-title>{{course.description}}</h2>


<mat-dialog-content [formGroup]="form">

    <mat-form-field>

        <input matInput
                placeholder="Course Name"
               formControlName="name">

    </mat-form-field>

 

    <mat-form-field>

        <input matInput [matDatepicker]="myDatepicker" #searchInput
            formControlName="releasedAt">

        <mat-datepicker-toggle matSuffix
                               [for]="myDatepicker">

        </mat-datepicker-toggle>

        <mat-datepicker #myDatepicker></mat-datepicker>

    </mat-form-field>

    <mat-form-field>

        <textarea matInput placeholder="Description"
            formControlName="description">

        </textarea>

    </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions>

    <button class="mat-raised-button"
            (click)="close()">
        Close
    </button>

    <button class="mat-raised-button mat-primary" #saveButton (click)="save()">
        Save
    </button>

</mat-dialog-actions>


