
.course {
    text-align: center;
    max-width: 390px;
    margin: 0 auto;
}


.description-cell {
    text-align: left;
    margin: 10px auto;
}

.duration-cell {
    text-align: center;
}

.duration-cell mat-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}


.students-table {
    min-height: auto;
    margin-top: 10px;
    min-width: 100%;
}



.search-bar {
    margin-top: 20px;
}


.students-table tr {
    height: 60px;
}

.students-table td {
    border-top: 1px solid  rgba(0,0,0,.12);
    text-align: center;
}

.students-table th {
    padding: 20px;
    color: rgba(0,0,0,.54);
}

.students-table td {
    padding: 10px;
}