<div class="course">

    <ng-container *ngIf="(course$ | async) as course">

        <h2>{{course?.name}}</h2>


    </ng-container>

    <mat-form-field class="search-bar">

        <input matInput placeholder="Type your search" #searchInput autocomplete="off">

    </mat-form-field>


    <table class="students-table mat-elevation-z7" *ngIf="(students$ | async) as students">

        <thead>
            <th>#</th>
            <th>Name</th>
        </thead>

        <tr *ngFor="let student of students">
            <td class="seqno-cell">{{student.studentID}}</td>
            <td class="description-cell">{{student.name}}</td>
        </tr>

    </table>


</div>






