
<div class="courses-panel">

  

    <mat-tab-group>

        <mat-tab label="Courses">

            <courses-card-list
                    [courses]="Courses$ | async">

            </courses-card-list>

        </mat-tab>

        

    </mat-tab-group>



</div>

